.main__header{
    background-color: rgb(161, 19, 19);
    padding: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight:bold
}
.header h1{
    color: #fff;
    margin-bottom: 0
}